*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Arial", sans-serif;
}

/* Header rules */


.header {
    padding: 1.5em;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links {
    display: flex;
    gap: 2em;
    /* margin-left: auto; */
    font-size: 1.2rem;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: white;
}

/* Main content rules */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.main-title {
    font-size: 2.5rem;
    text-align: center;
}

.main-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: -.5em;
}

.touch-button {
    padding: 1em 4.2em;
    background-color: red;
    color: white;
    margin-top: .5em;
}

/* Projects rules */

.projects-container {
    padding: 1em;
}

.projects-title {
    font-size: 2.5rem;
    margin-top: 1.5em;
}

/* Footer rules */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    gap: 1.5em;
}