html {
  font-size: 16px;
}

@media (min-width: 0px) {
  p  {
    font-size: 1px;
  }
}

@media (min-width: 480px) {
  p {
    font-size: calc(1rem + 1vw);
  }
}

@media (min-width: 1001px) {
  p {
    font-size: 1.75rem;
  }
}

/* @media only screen and (max-width: 620px) {
  .about-body, .index-body {
    width: 100%;
  }
} */

.index-body {
  font-family: "Arial";
  background: url("cube_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.index-header {
  font-size: 25px;
}

.index-main {
  font-family: "Arial";
  text-align: left;
  margin: 5%;
  padding: 10% 0;
}

#index-graduate-text {
  font-size: calc(16px + 3vw);
}

#index-main-text {
  font-size: calc(16px + .5vw);
}

.index-footer {
  background-color: #D3D3D3;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center
}

.index-nav {

}

.links {
  margin: 1.25%;
  transition: color 0.2s;
  text-decoration: none;
}

.links:hover {
  color: grey;
}

.about-body {
  font-family: "Arial";
  background: url("cube_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-header {
  font-size: 25px;
}

.about-main {
  text-align: center;
  margin-bottom: 7.5rem;
}

.display-inline-about {
  display: inline-block;
}

#about-para-one {
  text-align: left;
  text-indent: 3%;
}

#about-para-two {
  text-align: left;
  text-indent: 3%;
}

#about-para-three {
  text-align: left;
  text-indent: 3%;
}

#profile-pic {
  max-width: 100%;
  height: 100%;
}

.about-footer {
  background-color: #D3D3D3;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.projects-body {
  font-family: "Arial";
  background: url("cube_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.projects-header {
  font-size: 25px;
}

.projects-main {
  text-align: center;
  padding-bottom: 7.5rem;
}

.display-inline-projects {
  display: inline-block;
}

.project-para {
  text-align: left;
  text-indent: 3%;
}

.projects-footer {
  background-color: #D3D3D3;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
