html {
  font-size: 16px;
}

@media (min-width: 0px) {
  p  {
    font-size: 1rem;
  }
}

@media (min-width: 480px) {
  p {
    font-size: calc(1rem + 1vw);
  }
}

@media (min-width: 1001px) {
  p {
    font-size: 1.75rem;
  }
}

/* @media only screen and (max-width: 620px) {
  .about-body, .index-body {
    width: 100%;
  }
} */

.index-body {
  font-family: "Arial";
  background-image: url("white_background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.index-header {
  font-size: 25px;
}

.index-main {
  font-size: 25px;
  text-align: center;
  margin-bottom: 1%;
}

.index-footer {
  background-color: #D3D3D3;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center
}

.index-nav {

}

.about-body {
  font-family: "Arial";
  background-image: url("white_background.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.about-header {
  font-size: 25px;
}

.about-main {
  text-align: center;
  margin-bottom: 1%;
}

.display-inline {
  display: inline-block;
}

#para-one {
  text-align: left;
}

#para-two {
  text-align: left;
}

#para-three {
  text-align: left;
}

#profile-pic {
  max-width: 100%;
  height: 100%;
}

.about-footer {
  background-color: #D3D3D3;
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
