.index-body {
  font-family: "Arial";
  background-image: url('https://img.freepik.com/free-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-55967.jpg?size=626&ext=jpg&ga=GA1.1.680351004.1676338594&semt=ais');
}

.index-main {
  font-size: 25px;
  text-align: center;
}

.index-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align:center;
}

.about-body {
  font-family: "Arial";
  background-image: url('https://img.freepik.com/free-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-55967.jpg?size=626&ext=jpg&ga=GA1.1.680351004.1676338594&semt=ais');
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#para-one {
  
}

#para-two {

}

#profile-pic {
  padding-left: 25px;
}

.about-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align:center;
}
